In [2]:
%load_ext sql

In [3]:
!dropdb -U student final_Project

dropdb: error: database removal failed: ERROR:  database "final_Project" is being accessed by other users
DETAIL:  There are 3 other sessions using the database.

In [4]:
!createdb -U student final_Project

createdb: error: database creation failed: ERROR:  database "final_Project" already exists

In [5]:
%sql postgresql://student@/final_Project

In [6]:
!pwd

/home/ubuntu

In [6]:
!wget -O Election_all.zip https://dmfa-group7-finalbucket.s3.amazonaws.com/Election/Election_all.zip

--2020-12-06 10:01:39--  https://dmfa-group7-finalbucket.s3.amazonaws.com/Election/Election_all.zip
Resolving dmfa-group7-finalbucket.s3.amazonaws.com (dmfa-group7-finalbucket.s3.amazonaws.com)... 52.216.179.187
Connecting to dmfa-group7-finalbucket.s3.amazonaws.com (dmfa-group7-finalbucket.s3.amazonaws.com)|52.216.179.187|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 27961105 (27M) [application/zip]
Saving to: ‘Election_all.zip’

Election_all.zip    100%[===================>]  26.67M  55.2MB/s    in 0.5s

2020-12-06 10:01:39 (55.2 MB/s) - ‘Election_all.zip’ saved [27961105/27961105]

In [7]:
!unzip -o Election_all.zip

Archive:  Election_all.zip
  inflating: Election_all.csv

In [8]:
!mv Election_all.csv election.csv

In [6]:
!wc -l election.csv

553820 election.csv

### Creating dimentional model

In [10]:
!head -n 10000 election.csv | csvstat

  1. "CMTE_ID"

	Type of data:          Text
	Contains null values:  False
	Unique values:         1283
	Longest value:         9 characters
	Most common values:    C00238725 (125x)
	                       C00303024 (104x)
	                       C00030718 (99x)
	                       C00000935 (78x)
	                       C00007880 (74x)

  2. "CAND_ID"

	Type of data:          Text
	Contains null values:  False
	Unique values:         775
	Longest value:         9 characters
	Most common values:    P60007168 (154x)
	                       P80001571 (148x)
	                       P80000722 (93x)
	                       S0AZ00350 (86x)
	                       S4MI00355 (74x)

  3. "RPT_TP"

	Type of data:          Text
	Contains null values:  False
	Unique values:         23
	Longest value:         3 characters
	Most common values:    M7 (1250x)
	                       YE (1033x)
	                       M4 (1000x)
	                       M3 (850x)
	                       M10 (819x)

  4. "TRANSACTION_PGI"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         33
	Longest value:         5 characters
	Most common values:    P2020 (6292x)
	                       G2020 (2902x)
	                       P2022 (193x)
	                       P (121x)
	                       P2024 (105x)

  5. "TRANSACTION_TP"

	Type of data:          Text
	Contains null values:  False
	Unique values:         6
	Longest value:         3 characters
	Most common values:    24K (9111x)
	                       24E (575x)
	                       24A (166x)
	                       24Z (108x)
	                       24C (33x)

  6. "ENTITY_TP"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         8
	Longest value:         3 characters
	Most common values:    CCM (8768x)
	                       ORG (652x)
	                       IND (213x)
	                       CAN (167x)
	                       None (62x)

  7. "Contributor_NAME"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         1607
	Longest value:         77 characters
	Most common values:    PETERS FOR MICHIGAN (68x)
	                       RICHARD E NEAL FOR CONGRESS COMMITTEE (55x)
	                       STEVE DAINES FOR MONTANA (55x)
	                       GRAVES FOR CONGRESS (53x)
	                       RODNEY FOR CONGRESS (53x)

  8. "Contributor_CITY"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         712
	Longest value:         20 characters
	Most common values:    WASHINGTON (729x)
	                       ALEXANDRIA (235x)
	                       PHOENIX (170x)
	                       RALEIGH (146x)
	                       COLUMBUS (130x)

  9. "Contributor_STATE"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         55
	Longest value:         2 characters
	Most common values:    CA (862x)
	                       DC (736x)
	                       TX (695x)
	                       IL (504x)
	                       VA (481x)

 10. "TRANSACTION_DT"

	Type of data:          Date
	Contains null values:  True (excluded from calculations)
	Unique values:         558
	Smallest value:        2018-11-02
	Largest value:         2020-10-14
	Most common values:    2019-06-25 (80x)
	                       2019-06-26 (76x)
	                       2020-02-27 (76x)
	                       2019-06-24 (73x)
	                       2019-09-25 (69x)

 11. "Trans_Month"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         13
	Smallest value:        1
	Largest value:         12
	Sum:                   61363
	Mean:                  6.146134
	Median:                6
	StDev:                 3.085736
	Most common values:    6 (1584x)
	                       9 (1382x)
	                       3 (1317x)
	                       2 (1097x)
	                       7 (855x)

 12. "Trans_Year"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         4
	Smallest value:        2018
	Largest value:         2020
	Sum:                   20162153
	Mean:                  2019.446414
	Median:                2019
	StDev:                 0.497749
	Most common values:    2019 (5521x)
	                       2020 (4460x)
	                       None (15x)
	                       2018 (3x)

 13. "TRANSACTION_AMT"

	Type of data:          Number
	Contains null values:  False
	Unique values:         603
	Smallest value:        -5000
	Largest value:         2103070
	Sum:                   39018503
	Mean:                  3902.240524
	Median:                1500
	StDev:                 39173.835641
	Most common values:    1000 (3680x)
	                       2500 (1900x)
	                       5000 (1089x)
	                       2000 (747x)
	                       1500 (643x)

 14. "CAND_NAME"

	Type of data:          Text
	Contains null values:  False
	Unique values:         764
	Longest value:         36 characters
	Most common values:    SANDERS, BERNARD (154x)
	                       TRUMP, DONALD J. (148x)
	                       BIDEN, JOSEPH R JR (93x)
	                       KELLY, MARK (86x)
	                       PETERS, GARY (79x)

 15. "CAND_PTY_AFFILIATION"

	Type of data:          Text
	Contains null values:  False
	Unique values:         9
	Longest value:         3 characters
	Most common values:    DEM (5276x)
	                       REP (4681x)
	                       DFL (27x)
	                       IND (7x)
	                       NPP (3x)

 16. "TTL_RECEIPTS"

	Type of data:          Number
	Contains null values:  False
	Unique values:         766
	Smallest value:        0
	Largest value:         540594553.14
	Sum:                   181824262906.98
	Mean:                  18184244.71517
	Median:                1683214.93
	StDev:                 75231278.788529
	Most common values:    218749501.45 (154x)
	                       408945024.23 (148x)
	                       540594553.14 (93x)
	                       46104215.58 (86x)
	                       19458434.54 (79x)

 17. "TRANS_FROM_AUTH"

	Type of data:          Number
	Contains null values:  False
	Unique values:         377
	Smallest value:        0
	Largest value:         201559434.39
	Sum:                   39247158589.75
	Mean:                  3925108.369812
	Median:                51378.27
	StDev:                 24773374.209179
	Most common values:    0 (3550x)
	                       12701500 (154x)
	                       201559434.39 (148x)
	                       51600000 (93x)
	                       1913.11 (87x)

 18. "TTL_DISB"

	Type of data:          Number
	Contains null values:  False
	Unique values:         771
	Smallest value:        0
	Largest value:         359968142.06
	Sum:                   134078144665.05
	Mean:                  13409155.382043
	Median:                979242.65
	StDev:                 56324051.955051
	Most common values:    217442847.17 (154x)
	                       307141452.43 (148x)
	                       359968142.06 (93x)
	                       24885272.17 (86x)
	                       9369667.62 (79x)

 19. "COH_BOP"

	Type of data:          Number
	Contains null values:  False
	Unique values:         573
	Smallest value:        0
	Largest value:         19292901.2
	Sum:                   11029064852.15
	Mean:                  1103016.786894
	Median:                417299.96
	StDev:                 2518724.122065
	Most common values:    0 (739x)
	                       4743726.76 (154x)
	                       19292901.2 (148x)
	                       1503727.91 (79x)
	                       19576.43 (66x)

 20. "COH_COP"

	Type of data:          Number
	Contains null values:  False
	Unique values:         741
	Smallest value:        -2154.05
	Largest value:         180626411.08
	Sum:                   58776344240.54
	Mean:                  5878222.246279
	Median:                1348533.64
	StDev:                 22432409.005868
	Most common values:    6051192.06 (154x)
	                       121096473 (148x)
	                       180626411.08 (93x)
	                       21218943.41 (86x)
	                       11592494.83 (79x)

 21. "CAND_CONTRIB"

	Type of data:          Number
	Contains null values:  False
	Unique values:         133
	Smallest value:        0
	Largest value:         2974189.1
	Sum:                   24964841.43
	Mean:                  2496.733816
	Median:                0
	StDev:                 62514.554314
	Most common values:    0 (9168x)
	                       5600 (66x)
	                       5770 (35x)
	                       250 (34x)
	                       20555.2 (32x)

 22. "TTL_INDIV_CONTRIB"

	Type of data:          Number
	Contains null values:  False
	Unique values:         753
	Smallest value:        0
	Largest value:         486178980.7
	Sum:                   133142953090.04
	Mean:                  13315626.871691
	Median:                821463.55
	StDev:                 57607187.572842
	Most common values:    202554495.98 (154x)
	                       204716090.3 (148x)
	                       486178980.7 (93x)
	                       44649118.29 (86x)
	                       15954679.02 (79x)

 23. "CAND_OFFICE_ST"

	Type of data:          Text
	Contains null values:  False
	Unique values:         54
	Longest value:         2 characters
	Most common values:    CA (858x)
	                       TX (718x)
	                       IL (531x)
	                       NY (487x)
	                       00 (426x)

 24. "POL_PTY_CONTRIB"

	Type of data:          Number
	Contains null values:  False
	Unique values:         128
	Smallest value:        0
	Largest value:         62550
	Sum:                   23850402.36
	Mean:                  2385.278764
	Median:                0
	StDev:                 8118.714747
	Most common values:    0 (6950x)
	                       1000 (181x)
	                       4000 (125x)
	                       2500 (115x)
	                       45600 (103x)

 25. "CVG_END_DT"

	Type of data:          Date
	Contains null values:  False
	Unique values:         41
	Smallest value:        2019-02-28
	Largest value:         2020-09-30
	Most common values:    2020-06-30 (6731x)
	                       2020-07-15 (1085x)
	                       2020-07-29 (461x)
	                       2020-08-31 (413x)
	                       2020-07-22 (366x)

 26. "CAND_ELECTION_YR"

	Type of data:          Number
	Contains null values:  False
	Unique values:         7
	Smallest value:        2012
	Largest value:         2024
	Sum:                   20198956
	Mean:                  2020.09761
	Median:                2020
	StDev:                 0.592574
	Most common values:    2020 (9579x)
	                       2022 (251x)
	                       2024 (140x)
	                       2018 (20x)
	                       2014 (6x)

 27. "CAND_OFFICE"

	Type of data:          Text
	Contains null values:  False
	Unique values:         3
	Longest value:         1 characters
	Most common values:    H (7851x)
	                       S (1722x)
	                       P (426x)

 28. "CMTE_NM"

	Type of data:          Text
	Contains null values:  False
	Unique values:         1283
	Longest value:         178 characters
	Most common values:    NATIONAL AIR TRAFFIC CONTROLLERS ASSOCIATION PAC (125x)
	                       LOCKHEED MARTIN CORPORATION EMPLOYEES' POLITICAL ACTION COMMITTEE (104x)
	                       NATIONAL ASSOCIATION OF REALTORS POLITICAL ACTION COMMITTEE (99x)
	                       DCCC (78x)
	                       CULAC THE PAC OF CREDIT UNION NATIONAL ASSOCIATION (74x)

 29. "TRES_NM"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         1187
	Longest value:         33 characters
	Most common values:    None (318x)
	                       GILBERT, PATRICIA MRS. (125x)
	                       FLOR, JOHN R MR. (104x)
	                       HEAD, ROBERT MR. (104x)
	                       JADOTTE, MARCUS (82x)

 30. "CMTE_CITY"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         377
	Longest value:         20 characters
	Most common values:    WASHINGTON (4405x)
	                       ARLINGTON (432x)
	                       ALEXANDRIA (380x)
	                       CHICAGO (237x)
	                       NEW YORK (193x)

 31. "CMTE_ST"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         47
	Longest value:         2 characters
	Most common values:    DC (4434x)
	                       VA (1318x)
	                       TX (489x)
	                       IL (483x)
	                       CA (444x)

 32. "CMTE_TP"

	Type of data:          Text
	Contains null values:  False
	Unique values:         12
	Longest value:         1 characters
	Most common values:    Q (8877x)
	                       I (318x)
	                       O (285x)
	                       Y (155x)
	                       H (126x)

 33. "ORG_TP"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         7
	Longest value:         1 characters
	Most common values:    C (3944x)
	                       T (1926x)
	                       M (1431x)
	                       None (1415x)
	                       L (1058x)

 34. "CONNECTED_ORG_NM"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         757
	Longest value:         140 characters
	Most common values:    None (2558x)
	                       NATIONAL AIR TRAFFIC CONTROLLERS ASSOCIATION (125x)
	                       LOCKHEED MARTIN CORPORATION (104x)
	                       CALIFORNIA REAL ESTATE POLITICAL ACTION COMMITTEE (99x)
	                       HOUSE SENATE VICTORY FUND (78x)

Row count: 9999

In [ ]:
%%sql
DROP TABLE IF EXISTS Contribute_fact;

CREATE TABLE Contribute_fact(
    CMTE_ID VARCHAR(64) NOT NULL,
    CAND_ID VARCHAR(64) NOT NULL,
    RPT_TP VARCHAR(64) NOT NULL,
    TRANSACTION_PGI VARCHAR(64),
    TRANSACTION_TP VARCHAR(64) NOT NULL,
    ENTITY_TP VARCHAR(64),
    Contributor_NAME VARCHAR(200),
    Contributor_CITY VARCHAR(64),
    Contributor_STATE VARCHAR(64),
    TRANSACTION_DT VARCHAR(64),
    Trans_Month VARCHAR(64),
    Trans_Year VARCHAR(64),
    TRANSACTION_AMT numeric(30) NOT NULL,
    CAND_NAME VARCHAR(64) NOT NULL,
    CAND_PTY_AFFILIATION VARCHAR(64) NOT NULL,
    TTL_RECEIPTS numeric(30) NOT NULL,
    TRANS_FROM_AUTH numeric(30) NOT NULL,
    TTL_DISB numeric(30) NOT NULL,
    COH_BOP numeric(30) NOT NULL,
    COH_COP numeric(30) NOT NULL,
    CAND_CONTRIB numeric(30) NOT NULL,
    TTL_INDIV_CONTRIB numeric(30) NOT NULL,
    CAND_OFFICE_ST VARCHAR(64) NOT NULL,
    POL_PTY_CONTRIB numeric(30) NOT NULL,
    CVG_END_DT VARCHAR(64) NOT NULL,
    CAND_ELECTION_YR VARCHAR(64) NOT NULL,
    CAND_OFFICE VARCHAR(64) NOT NULL,
    CMTE_NM VARCHAR(200) NOT NULL,
    TRES_NM VARCHAR(64),
    CMTE_CITY VARCHAR(64),
    CMTE_ST VARCHAR(64),
    CMTE_TP VARCHAR(64) NOT NULL,
    ORG_TP VARCHAR(64),
    CONNECTED_ORG_NM VARCHAR(200)
)

 * postgresql://student@/final_Project

In [8]:
!pwd

/home/ubuntu

In [9]:
%%sql
COPY Contribute_fact FROM '/home/ubuntu/election.csv'
CSV
HEADER;

 * postgresql://student@/final_Project
553819 rows affected.

[]

In [10]:
%%sql
SELECT COUNT(*) FROM Contribute_fact;

 * postgresql://student@/final_Project
1 rows affected.

[(553819,)]

In [11]:
%%sql
SELECT * FROM Contribute_fact
LIMIT 10

 * postgresql://student@/final_Project
10 rows affected.

[('C00032995', 'H0RI02139', 'M4', 'G2020', '24K', 'CCM', 'LANGEVIN FOR CONGRESS', 'WARWICK', 'RI', '03/05/2020', '3', '2020', Decimal('1000'), 'LANGEVIN, JAMES R HONORABLE', 'DEM', Decimal('901299'), Decimal('0'), Decimal('660846'), Decimal('1031500'), Decimal('1271953'), Decimal('500'), Decimal('450703'), 'RI', Decimal('0'), '08/19/2020', '2020', 'H', 'AMALGAMATED TRANSIT UNION - COPE', 'COSTA, JOHN', 'SILVER SPRING', 'MD', 'Q', 'L', 'AMALGAMATED TRANSIT UNION'),
 ('C00158881', 'H6GA03113', 'M5', 'P2020', '24K', 'CCM', 'DREW FERGUSON FOR CONGRESS INC.', 'NEWNAN', 'GA', '04/12/2019', '4', '2019', Decimal('2000'), 'FERGUSON, ANDERSON DREW IV', 'REP', Decimal('1806115'), Decimal('95249'), Decimal('1464968'), Decimal('114787'), Decimal('455933'), Decimal('0'), Decimal('607094'), 'GA', Decimal('0'), '06/30/2020', '2020', 'H', 'NEW YORK LIFE INSURANCE COMPANY POLITICAL ACTION COMMITTEE', 'STAGIAS, HELEN', 'NEW YORK', 'NY', 'Q', 'W', 'NEW YORK LIFE INSURANCE COMPANY'),
 ('C00147173', 'H6GA03113', 'YE', 'G2020', '24K', 'CCM', 'DREW FERGUSON FOR CONGRESS INC.', 'NEWNAN', 'GA', '12/04/2019', '12', '2019', Decimal('-401'), 'FERGUSON, ANDERSON DREW IV', 'REP', Decimal('1806115'), Decimal('95249'), Decimal('1464968'), Decimal('114787'), Decimal('455933'), Decimal('0'), Decimal('607094'), 'GA', Decimal('0'), '06/30/2020', '2020', 'H', 'WINE AND SPIRITS WHOLESALERS OF AMERICA, INC. POLITICAL ACTION COMMITTEE', 'LISKER, LISA', 'WASHINGTON', 'DC', 'Q', 'T', 'WINE & SPIRITS WHOLESALERS OF AMERICA'),
 ('C00121368', 'H6GA03113', 'M5', 'G2020', '24K', 'CCM', 'DREW FERGUSON FOR CONGRESS INC.', 'NEWNAN', 'GA', '04/27/2020', '4', '2020', Decimal('500'), 'FERGUSON, ANDERSON DREW IV', 'REP', Decimal('1806115'), Decimal('95249'), Decimal('1464968'), Decimal('114787'), Decimal('455933'), Decimal('0'), Decimal('607094'), 'GA', Decimal('0'), '06/30/2020', '2020', 'H', 'EXXON MOBIL CORPORATION POLITICAL ACTION COMMITTEE (EXXONMOBIL PAC)', 'CARTWRIGHT, VLADIMIR M', 'WASHINGTON', 'DC', 'Q', 'C', 'EXXON MOBIL CORPORATION'),
 ('C00248716', 'H6NE02125', 'M3', 'P2020', '24K', 'CCM', 'DON BACON FOR CONGRESS', 'OMAHA', 'NE', '02/27/2019', '2', '2019', Decimal('1000'), 'BACON, DONALD J', 'REP', Decimal('2242576'), Decimal('353283'), Decimal('1262764'), Decimal('49728'), Decimal('1029539'), Decimal('65'), Decimal('962135'), 'NE', Decimal('0'), '06/30/2020', '2020', 'H', 'COMCAST CORPORATION & NBCUNIVERSAL POLITICAL ACTION COMMITTEE - FEDERAL', 'ARMSTRONG, JASON MR.', 'PHILADELPHIA', 'PA', 'Q', 'C', 'COMCAST CORPORATION'),
 ('C00300178', 'H6NE02125', 'YE', 'P2020', '24K', 'CCM', 'DON BACON FOR CONGRESS', 'OMAHA', 'NE', '12/18/2019', '12', '2019', Decimal('2000'), 'BACON, DONALD J', 'REP', Decimal('2242576'), Decimal('353283'), Decimal('1262764'), Decimal('49728'), Decimal('1029539'), Decimal('65'), Decimal('962135'), 'NE', Decimal('0'), '06/30/2020', '2020', 'H', 'WELLS FARGO AND COMPANY EMPLOYEES GOOD GOVERNMENT FEDERAL FUND II', 'AIMONE, SHANNON MS.', 'MINNEAPOLIS', 'MN', 'Q', 'C', ''),
 ('C00117861', 'H6NE02125', 'M11', 'P2020', '24K', 'CCM', 'DON BACON FOR CONGRESS', 'OMAHA', 'NE', '10/17/2019', '10', '2019', Decimal('1000'), 'BACON, DONALD J', 'REP', Decimal('2242576'), Decimal('353283'), Decimal('1262764'), Decimal('49728'), Decimal('1029539'), Decimal('65'), Decimal('962135'), 'NE', Decimal('0'), '06/30/2020', '2020', 'H', 'LOCKE LORD LLP PAC', 'BRANDON LOBB', 'HOUSTON', 'TX', 'Q', 'M', ''),
 ('C00040535', 'H8CA01109', 'M5', 'P2020', '24K', 'CCM', 'MIKE THOMPSON FOR CONGRESS', 'SACRAMENTO', 'CA', '04/02/2019', '4', '2019', Decimal('2500'), 'THOMPSON, MIKE MR.', 'DEM', Decimal('1623479'), Decimal('0'), Decimal('1595764'), Decimal('1560786'), Decimal('1588501'), Decimal('0'), Decimal('574956'), 'CA', Decimal('0'), '06/30/2020', '2020', 'H', 'AMERICAN EXPRESS COMPANY POLITICAL ACTION COMMITTEE (AXPPAC)', 'LOPER, BRETT', 'WASHINGTON', 'DC', 'Q', 'C', 'AMERICAN EXPRESS COMPANY'),
 ('C00098061', 'H8CA01109', 'M7', 'P2020', '24K', 'CCM', 'MIKE THOMPSON FOR CONGRESS', 'SACRAMENTO', 'CA', '06/07/2019', '6', '2019', Decimal('1000'), 'THOMPSON, MIKE MR.', 'DEM', Decimal('1623479'), Decimal('0'), Decimal('1595764'), Decimal('1560786'), Decimal('1588501'), Decimal('0'), Decimal('574956'), 'CA', Decimal('0'), '06/30/2020', '2020', 'H', 'TARGET CORPORATION CITIZENS POLITICAL FORUM (TARGETCITIZENS POLITICAL FORUM)', 'ADAMS, VICTORIA', 'MINNEAPOLIS', 'MN', 'Q', 'C', 'TARGET CORPORATION'),
 ('C00077321', 'H8CA01109', 'M8', 'G2020', '24K', 'CCM', 'MIKE THOMPSON FOR CONGRESS', 'SACRAMENTO', 'CA', '07/27/2020', '7', '2020', Decimal('5000'), 'THOMPSON, MIKE MR.', 'DEM', Decimal('1623479'), Decimal('0'), Decimal('1595764'), Decimal('1560786'), Decimal('1588501'), Decimal('0'), Decimal('574956'), 'CA', Decimal('0'), '06/30/2020', '2020', 'H', 'AMERICAN INSTITUTE OF CERTIFIED PUBLIC ACCOUNTANTS POLITICAL ACTION COMMITTEE', 'SPIEGEL, SCOTT H. MR.', 'DURHAM', 'NC', 'Q', 'M', 'AMERICAN INSTITUTE OF CERTIFIED PUBLIC ACCOUNTANTS')]

###

### Next we need to look at the current contribution design and build the dimensional equivalent to the design

## More ETL with SQL

### Create Date Table

In [12]:
%%sql
DROP TABLE IF EXISTS Date;

CREATE TABLE Date (
    key SERIAL PRIMARY KEY,
    TRANSACTION_DT VARCHAR(64),
    CVG_END_DT VARCHAR(64),
    CAND_ELECTION_YR VARCHAR(64),
    Trans_Month VARCHAR(64),
    Trans_Year VARCHAR(64)
);

 * postgresql://student@/final_Project
Done.
Done.

[]

In [13]:
%%sql
INSERT INTO Date (TRANSACTION_DT,CVG_END_DT,CAND_ELECTION_YR,Trans_Month,Trans_Year)
SELECT DISTINCT TRANSACTION_DT AS Trans_DT,
       CVG_END_DT,
       CAND_ELECTION_YR,
       Trans_Month,
       Trans_Year
From Contribute_fact;

 * postgresql://student@/final_Project
13944 rows affected.

[]

In [14]:
%%sql 
SELECT * FROM Date LIMIT 10;

 * postgresql://student@/final_Project
10 rows affected.

[(1, '07/16/2019', '07/04/2020', '2020', '7', '2019'),
 (2, '04/07/2016', '12/31/2016', '2008', '4', '2016'),
 (3, '06/15/2020', '06/30/2020', '2022', '6', '2020'),
 (4, '09/28/2015', '12/31/2016', '2014', '9', '2015'),
 (5, '05/17/2016', '12/31/2016', '', '5', '2016'),
 (6, '05/01/2015', '12/31/2016', '2015', '5', '2015'),
 (7, '09/20/2020', '09/30/2020', '2020', '9', '2020'),
 (8, '06/20/2016', '12/31/2016', '2008', '6', '2016'),
 (9, '09/26/2016', '12/31/2016', '2006', '9', '2016'),
 (10, '08/31/2016', '12/31/2016', '2008', '8', '2016')]

### Create Location Table

In [15]:
%%sql
DROP TABLE IF EXISTS Location;

CREATE TABLE Location (
    key SERIAL PRIMARY KEY,
    CAND_OFFICE_ST VARCHAR(64),
    CMTE_CITY VARCHAR(64),
    CMTE_ST VARCHAR(64),
    Contributor_STATE VARCHAR(64),
    Contributor_CITY VARCHAR(64)
);

 * postgresql://student@/final_Project
Done.
Done.

[]

In [16]:
%%sql
INSERT INTO Location (CAND_OFFICE_ST,CMTE_CITY,CMTE_ST,Contributor_STATE,Contributor_CITY)
SELECT DISTINCT CAND_OFFICE_ST,
       CMTE_CITY,
       CMTE_ST,
       Contributor_STATE AS contributor_st,
       Contributor_CITY AS Contributor_city
From Contribute_fact;

 * postgresql://student@/final_Project
73811 rows affected.

[]

### Create Committee Table

In [17]:
%%sql
DROP TABLE IF EXISTS Committee;

CREATE TABLE Committee (
    key SERIAL PRIMARY KEY,
    CMTE_ID VARCHAR(64),
    CMTE_NM VARCHAR(200),
    CMTE_TP VARCHAR(64),
    ORG_TP VARCHAR(64),
    TRES_NM VARCHAR(64),
    CONNECTED_ORG_NM VARCHAR(200)
);

 * postgresql://student@/final_Project
Done.
Done.

[]

In [18]:
%%sql
INSERT INTO Committee (CMTE_ID,CMTE_NM,CMTE_TP,ORG_TP,TRES_NM,CONNECTED_ORG_NM)
SELECT DISTINCT CMTE_ID,
       CMTE_NM,
       CMTE_TP,
       ORG_TP,
       TRES_NM,
       CONNECTED_ORG_NM
From Contribute_fact;

 * postgresql://student@/final_Project
6320 rows affected.

[]

In [ ]:
%%sql 
SELECT * FROM Committee LIMIT 10;

### Create Candidate Table

In [19]:
%%sql
DROP TABLE IF EXISTS Candidate;

CREATE TABLE Candidate (
    key SERIAL PRIMARY KEY,
    CAND_ID VARCHAR(64),
    CAND_Name VARCHAR(64),
    CAND_OFFICE VARCHAR(64),
    CAND_PTY_AFFILIATION VARCHAR(64)
);

 * postgresql://student@/final_Project
Done.
Done.

[]

In [20]:
%%sql
INSERT INTO Candidate (CAND_ID,CAND_Name,CAND_OFFICE,CAND_PTY_AFFILIATION)
SELECT DISTINCT CAND_ID,
       CAND_Name AS CAND_NM,
       CAND_OFFICE,
       CAND_PTY_AFFILIATION
From Contribute_fact;

 * postgresql://student@/final_Project
2418 rows affected.

[]

In [21]:
%%sql 
SELECT * FROM Candidate LIMIT 10;

 * postgresql://student@/final_Project
10 rows affected.

[(1, 'H6CA46140', 'NGUYEN, BAO QUOC', '', 'DEM'),
 (2, 'H6FL07140', 'MURPHY, STEPHANIE', 'H', 'DEM'),
 (3, 'H2NJ02037', 'LOBIONDO, FRANK A.', 'H', 'REP'),
 (4, 'H0PA04279', 'BARNETTE, KATHY', 'H', 'REP'),
 (5, 'H4GA01039', 'CARTER, EARL LEROY', 'H', 'REP'),
 (6, 'H6FL02208', 'DUNN, NEAL PATRICK MD, FACS', 'H', 'REP'),
 (7, 'H4NC03059', 'GRIFFIN, WILLIAM TAYLOR', 'H', 'REP'),
 (8, 'H0MD07197', 'KLACIK, KIMBERLY', 'H', 'REP'),
 (9, 'P00009621', 'WARREN, ELIZABETH', 'P', 'DEM'),
 (10, 'H0NY14296', 'CUMMINGS, JOHN C.', 'H', 'REP')]

### Create Contribution Table

In [22]:
%%sql
DROP TABLE IF EXISTS Contribution;

CREATE TABLE Contribution (
    key SERIAL PRIMARY KEY,
    ENTITY_TP VARCHAR(64),
    TRANSACTION_TP VARCHAR(64),
    Contributor_Name VARCHAR(100),
    TRANSACTION_PGI VARCHAR(64),
    RPT_TP VARCHAR(64)
);

 * postgresql://student@/final_Project
Done.
Done.

[]

In [23]:
%%sql
INSERT INTO Contribution (ENTITY_TP,TRANSACTION_TP,Contributor_Name,TRANSACTION_PGI,RPT_TP)
SELECT DISTINCT ENTITY_TP,
        TRANSACTION_TP,
        Contributor_Name,
        TRANSACTION_PGI,
        RPT_TP
From Contribute_fact;

 * postgresql://student@/final_Project
105291 rows affected.

[]

In [ ]:
%%sql 
SELECT * FROM Contribution LIMIT 10;

##### Insert all the 5 foreign keys into the Fact table to link the fact and dimension tables

In [24]:
%%sql
ALTER TABLE Contribute_fact
ADD COLUMN date_key INTEGER,
ADD CONSTRAINT fk_Date
    FOREIGN KEY (Date_key)
    REFERENCES Date (key);

 * postgresql://student@/final_Project
Done.

[]

In [25]:
%%sql
UPDATE Contribute_fact
SET date_key = Date.key
FROM Date
WHERE Contribute_fact.Transaction_DT = Date.Transaction_DT AND Contribute_fact.CAND_ELECTION_YR = Date.CAND_ELECTION_YR;

 * postgresql://student@/final_Project
553819 rows affected.

[]

In [26]:
%%sql
ALTER TABLE Contribute_fact
ADD COLUMN location_key INTEGER,
ADD CONSTRAINT fk_Location
    FOREIGN KEY (Location_key)
    REFERENCES Location (key);

 * postgresql://student@/final_Project
Done.

[]

In [27]:
%%sql
UPDATE Contribute_fact
SET location_key = Location.key
FROM Location
WHERE Contribute_fact.CMTE_ST = Location.CMTE_ST AND Contribute_fact.CAND_OFFICE_ST = Location.CAND_OFFICE_ST AND Contribute_fact.Contributor_STATE = Location.Contributor_STATE;

 * postgresql://student@/final_Project
553819 rows affected.

[]

##### Inorder to increase the speed, we drop some columns in fact table that already existed in dimension tables

In [28]:
%%sql
ALTER TABLE Contribute_fact
DROP COLUMN TRANSACTION_PGI,
DROP COLUMN CAND_OFFICE,
DROP COLUMN CAND_PTY_AFFILIATION,
DROP COLUMN Contributor_Name,
DROP COLUMN CMTE_NM,
DROP COLUMN TRES_NM,
DROP COLUMN CONNECTED_ORG_NM,
DROP COLUMN CVG_END_DT,
DROP COLUMN CMTE_TP,
DROP COLUMN ORG_TP,
DROP COLUMN RPT_TP,
DROP COLUMN contributor_city,
DROP COLUMN Trans_Month,
DROP COLUMN Trans_Year;

 * postgresql://student@/final_Project
Done.

[]

In [35]:
%%sql
ALTER TABLE Contribute_fact
ADD COLUMN cand_key INTEGER,
ADD CONSTRAINT fk_Candidate
    FOREIGN KEY (cand_key)
    REFERENCES Candidate (key);

 * postgresql://student@/final_Project
Done.

[]

In [36]:
%%sql
UPDATE Contribute_fact
SET cand_key = Candidate.key
FROM Candidate
WHERE Contribute_fact.CAND_ID = Candidate.CAND_ID;

 * postgresql://student@/final_Project
553819 rows affected.

[]

In [38]:
%%sql
ALTER TABLE Contribute_fact
ADD COLUMN com_key INTEGER,
ADD CONSTRAINT fk_Committee
    FOREIGN KEY (com_key)
    REFERENCES Committee (key);

 * postgresql://student@/final_Project
(psycopg2.errors.DuplicateObject) constraint "fk_committee" for relation "contribute_fact" already exists

[SQL: ALTER TABLE Contribute_fact ADD COLUMN committee_key INTEGER,
ADD CONSTRAINT fk_Committee
    FOREIGN KEY (committee_key)
    REFERENCES Committee (key);]
(Background on this error at: http://sqlalche.me/e/f405)

In [40]:
%%sql
UPDATE Contribute_fact
SET com_key = Committee.key
FROM Committee
WHERE Contribute_fact.CMTE_ID = Committee.CMTE_ID;

 * postgresql://student@/final_Project
553819 rows affected.

[]

In [41]:
%%sql 
SELECT * FROM Contribute_fact LIMIT 5;

 * postgresql://student@/final_Project
5 rows affected.

[('C00109991', 'H2CA50026', '24K', 'CCM', 'CA', '07/12/2016', Decimal('1500'), 'VARGAS, JUAN C.', Decimal('1138131'), Decimal('24039'), Decimal('1069031'), Decimal('10614'), Decimal('79714'), Decimal('0'), Decimal('224522'), 'CA', Decimal('76'), '2016', 'WASHINGTON', 'DC', 8221, 50486, 774, 1970),
 ('C00365122', 'H8CA12171', '24K', 'CCM', 'CA', '03/30/2015', Decimal('1000'), 'SPEIER, JACKIE', Decimal('874657'), Decimal('0'), Decimal('609007'), Decimal('1277244'), Decimal('1542894'), Decimal('0'), Decimal('507650'), 'CA', Decimal('32'), '2016', 'WASHINGTON', 'DC', 9204, 50486, 2849, 798),
 ('C00311878', 'H8CA12171', '24K', 'CCM', 'CA', '04/27/2015', Decimal('1000'), 'SPEIER, JACKIE', Decimal('874657'), Decimal('0'), Decimal('609007'), Decimal('1277244'), Decimal('1542894'), Decimal('0'), Decimal('507650'), 'CA', Decimal('32'), '2016', 'WASHINGTON', 'DC', 11531, 50486, 2249, 798),
 ('C00525600', 'H8CA12171', '24K', 'CCM', 'CA', '02/27/2015', Decimal('5000'), 'SPEIER, JACKIE', Decimal('874657'), Decimal('0'), Decimal('609007'), Decimal('1277244'), Decimal('1542894'), Decimal('0'), Decimal('507650'), 'CA', Decimal('32'), '2016', 'WASHINGTON', 'DC', 8801, 50486, 4676, 798),
 ('C00525600', 'H8CA12171', '24K', 'CCM', 'CA', '02/27/2015', Decimal('5000'), 'SPEIER, JACKIE', Decimal('874657'), Decimal('0'), Decimal('609007'), Decimal('1277244'), Decimal('1542894'), Decimal('0'), Decimal('507650'), 'CA', Decimal('32'), '2016', 'WASHINGTON', 'DC', 8801, 50486, 4676, 798)]

In [ ]:
%%sql
ALTER TABLE Contribute_fact
ADD COLUMN contribution_key INTEGER,
ADD CONSTRAINT fk_Contribution
    FOREIGN KEY (contribution_key)
    REFERENCES Contribution (key);

In [ ]:
%%sql
UPDATE Contribute_fact
SET contribution_key = Contribution.key
FROM Contribution
WHERE Contribute_fact.TRANSACTION_TP = Contribution.TRANSACTION_TP;

In [ ]:
%%sql 
SELECT * FROM Contribute_fact LIMIT 5;

##### Now it's time to Drop all columns in fact table that already existed in dimension tables

In [ ]:
%%sql
ALTER TABLE Contribute_fact
DROP COLUMN CMTE_ID,
DROP COLUMN CAND_ID,
DROP COLUMN Transaction_DT,
DROP COLUMN CAND_OFFICE_ST,
DROP COLUMN CMTE_ST,
DROP COLUMN TRANSACTION_TP,
DROP COLUMN ENTITY_TP,
DROP COLUMN Contributor_STATE;

##### Take a look at the final Contribute_fact table

In [ ]:
%%sql
SELECT *
FROM Contribute_fact
LIMIT 10;

# Data Exploration 
Now we are ready to explore the data.

In [ ]:
Q1:

In [ ]:
Q2: